{% extends 'base/base.html' %}
{% block content %}

    <h1>Rejestracja</h1>
    <form method="post">
    {% csrf_token %}
        <p><input type="text" name="first_name" placeholder="imie"></p>
        <p><input type="text" name="last_name" placeholder="nazwisko"></p>
        <p><input type="text" name="username" placeholder="nazwa użytkownika"></p>
        <p><input type="password" name="password1" placeholder="hasło"></p>
        <p><input type="password" name="password2" placeholder="ponów hasło"></p>
        <p><input type="submit"></p>
    </form>

{% endblock %}